{% extends 'base.html.twig' %}

{% block body %}
	<div class="column is-half is-offset-one-quarter">
		<form class="mb-3" id="username-form">
			<div class="field">
				<input class="input is-large" type="text" name="username" id="username" placeholder="What's your name?">
			</div>
			<div class="field is-grouped is-grouped-centered">
				<button class="button is-primary is-large" id="play-btn">Start!</button>
			</div>
		</form>
	</div>
{% endblock %}
