{% extends 'base.html.twig' %}

{% block body %}
	<section class="hero is-medium">
		<div class="hero-body">
			<div class="container has-text-centered">
				<h1 class="title is-1">
					K-pop Music Quiz
				</h1>
				<h2 class="subtitle">
					Test your knowledge of K-pop hits!
				</h2>
				<a href="{{ path('app_game_new') }}" class="button is-white is-outlined is-large">Start Quiz!</a>
			</div>
		</div>
	</section>
{% endblock %}
