<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>
			{% block title %}K-pop Music Quiz
			{% endblock %}
		</title>
		{% block stylesheets %}{% endblock %}

		{% block javascripts %}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
		{% endblock %}
	</head>
	<body>
		<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
			<div class="navbar-brand">
				<a class="navbar-item" href="{{ path('app_welcome') }}">
					<strong>K-pop Music Quiz</strong>
				</a>
			</div>
			<div class="navbar-menu">
				<div class="navbar-end">
					<a class="navbar-item" href="#">Home</a>
					<a class="navbar-item" href="#">Leaderboard</a>
				</div>
			</div>
		</nav>
		{% block body %}{% endblock %}
		<footer class="footer">
			<div class="content has-text-centered">
				<a href="https://www.flaticon.com/free-icons/kpop" title="kpop icons">Kpop icons created by Freepik - Flaticon</a>
			</div>
		</footer>
	</body>
</html>
